{% extends "base_text.html" %}
{% load crispy_forms_filters %}
{% block content %}

    <div class="container">
        <h1>{{ details.table_name }}</h1>
        <div class="row mb-5">
            <div class="col-5">
                <b>Update layer</b>
                <form method="POST" class="post-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form_layer|crispy }}
                    <input type="submit" class="save btn btn-success" name="upd-layer" value="Update">
                </form>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-5">
                <div class="row">
                    <div class="col">
                        <b>Legend Graphic</b><br>
                        <img src="http://localhost:8080/geoserver/wms?REQUEST=GetLegendGraphic&FORMAT=image/png&LAYER=layers:{{ details.layer_id }}&WIDTH=10&HEIGHT=10&Transparent=True&scale=1&legend_options=fontName:Times%20New%20Roman;fontAntiAliasing:true;fontColor:0x000033;fontSize:10;bgColor:0xFFFFEE;dpi:180">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-5">

            <div class="col-4">
                <b>Update style</b>
                <form method="POST" class="post-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form_style|crispy }}
                    <input type="submit" class="save btn btn-success" name="upd-style" value="Update">
                </form>
            </div>
        </div>


        <a href="{% url 'layer_list' %}">
            <button type="button" class="btn btn-danger">Back</button>
        </a>

    </div>
{% endblock %}