{% extends "base_text.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <div class="container">
  <div class="col-5">
    <h1>Layer List</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
      {% for detail in data %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ detail.table_name }}</td>
          <td><button type="button" class="login btn btn-success">Details</button></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
{% endblock %}