<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>WEB Map</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <script src="https://cdn.jsdelivr.net/npm/ol@v7.2.2/dist/ol.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.2.2/ol.css" type="text/css">
    <link href="map.css" rel="stylesheet">

</head>
<body>

<main class="container">
    <div id="info" class="info">&nbsp;</div>
    <div id="map" class="map" tabindex="0"></div>
</main>
<script src="/map.js"></script>
</body>
</html>